@import url(./boilerplate.css);

* {
  padding: 0;
  margin: 0;
}

.container-score {
  background-color: #131416;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 0;
  padding: 3rem 2rem;
  height: 100%;
  width: 100%;
  position: relative;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .container-score {
    padding: 1.5rem;
  }
}

h1 {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #d3a625;
  margin-bottom: 2rem;
}

h2 {
  font-size: 4rem;
  color: #d3a625;
  text-align: center;
  margin-bottom: 3rem;
  font-family: "Harry Potter";
  font-weight: bold;
}

p {
  margin-bottom: 3rem;
  color: #d3a625;
  font-size: 1.125rem;
  text-align: center;
}

img {
  width: 100%;
  max-width: 350px;
  height: 150px;
  margin-bottom: 2rem;
  text-align: center;
  border-radius: 15px;
}

.resultBtn {
  display: inline-block;
  width: 100%;
  margin-top: 2rem;
}

@media screen and (min-width: 550px) {
  .resultBtn {
    width: fit-content;
    align-self: flex-end;
  }
}
