@import url(./style-guide.css);

h1 {
    color: var(--gold);
    font-family: var(--title-font);
    font-size: 3rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 64px;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 6rem;
    }
}

.subtitle {
    color: var(--subTitle-color);
    text-align: center;
    margin-bottom: 64px;
    margin-top: 0;
    font-size: 1.125rem;
    max-width: 85%;
}

@media screen and (min-width: 800px) {
    .subtitle {
        font-size: 1.5rem;
        width: 50%;
    }
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    padding: 0 2rem;
}
