@font-face {
  font-family: "Harry Potter";
  src: url("../assets/fonts/HarryP.woff") format("woff");
}
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Young+Serif&display=swap");

:root {
  font-size: 16px;
  font-family: "Roboto", sans-serif;

  --gold: #d3a625;
  --red-griffon: #740001;
  --green: #1a472a;
  --blue: #0e1a40;
  --yellow: #ecb939;

  --green-answer: #006c2c;
  --red-answer: #b80600;

  --red-hover: #ff1818;
  --dark-brackground: #131416;

  --title-font: "Harry Potter";

  --subTitle-color: #aaaaaa;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-brackground);
  height: 100dvh;
  width: 100dvw;
}

a {
  text-decoration: none;
}

h1 {
  color: var(--gold);
  font-family: var(--title-font);
  font-size: 3rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 64px;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 6rem;
  }
}

p {
  color: var(--subTitle-color);
  text-align: center;
  margin-bottom: 64px;
  margin-top: 0;
  font-size: 1.125rem;
  max-width: 85%;
}

@media screen and (min-width: 800px) {
  p {
    font-size: 2rem;
    max-width: 70%;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  padding: 0 2rem;
}

.homebutton {
  background-color: var(--red-griffon);
  color: var(--gold);
  text-align: center;
  width: fit-content;
  border-radius: 0.5rem;
  padding: 1rem 4rem;
  font-family: var(--title-font);
  font-size: 1.5rem;
  border: none;
  &:hover {
    background-color: var(--red-hover);
  }
}
